* {
    margin: 5px;
    padding: 5px;
    background-color: rgb(217, 238, 217);

}
h1 {
    text-align: center;
    font-size: 26px;
    font-family: 'cambria';
    color: rgb(66, 39, 57);
}
/*.textarea {
    height: 80%;
    width: 20%;
    background-color: whitesmoke;
}*/
.modal {
    width :20%;
}
#NPSearch, #stateIdInput, #parklist {
  width:20%;
}
#parklist {
    display:flex;
}
button {
    display: block;
    height: 20%;
    width: 100%;
    font-family: 'cambria';
    font-weight: bold;
    color: rgb(250, 246, 249);
    background-color: rgb(63, 87, 68);
    border-color: rgb(106, 144, 117);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    font-size: 16px;
}
body {
    padding:0%;
    margin:0%;
}
p {
    font-size: 26px;
    margin: auto;
    display: block;
     border-radius: auto;
    border-width: auto;
    padding: 10px;
    font-family: 'cambria';
    font-weight: bold;
}



/*#current-weather {
    float: center;
    width: 40%;
    height: 30%;
    font-family: ‘Cambria’;
    background-color: rgb(203, 221, 204);
    color:rgb(66, 39, 57);
}*/




.swamp {
    height: 300px;
    width: 100%;
    background-image: url("./images/swamp.jpg");
    margin-top: 80px;
    background-size: cover;
    background-position: center;
}
#infoContainer{
    display:flex;
}
#NPInfoContainer{
    width:80%;
}
.card-title{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color:darkgreen;
}

.DescriptionTitle,.ActivitiesTitle,.weatherInfoTitle{
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    padding-bottom:0%;
    margin-bottom: auto;
}

.DescriptionPara, .wetherdescriptionPara, .ActivitiesPara{
    font-size:20px;
    font-family:cursive;
    margin-left: 30px;
    margin-top: 0%;
    padding-top: 0%;
}
#listOfNp {
    list-style-type: none;
}

#listOfActivities {
    font-size: 20px;
    font-family:fantasy;
}
.currentWeatherInfo {
    width:30%;
    background-color: crimson;
}
#liOfStateId{
    list-style-type: none;
    margin:1%;
    padding:3%;
    
}
.NPLists{
    
    margin:2%;
    padding:3%;
}
.weatherdata {
    text-align: left;
    border-style: solid;
    border-color: rgb(184, 232, 184);
    width: 20%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(217, 238, 217);
    list-style-type: none;
}
.weather {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(153, 212, 161);
    width: 30%;
    list-style-type: none;
}